<div class='col-md-10 col-md-offset-1 yieldcontent'>
  <div class="row">

    <div class="col-xs-12">

      <div class="jumbotron jumboart text-center">
        <h2 id="newTask">NEW TASK</h2>
      </div>

      <div id="newTaskFormPad">
        <%= render 'tasks/partials/newtaskform' %>
      </div>


      <div id="userTasksPad">
        <%= render 'tasks/partials/usertasks' %>
      </div>

    </div>

  </div>
</div>


<% content_for :index do %>
  <script type="text/javascript">
    $(document).ready(function () {
        setInterval(function(){
        refreshIndex();
      }, 7000);
    });

    function refreshIndex() {
      $.ajax({
        url: "<%= @tasks %>",
        dataType: "script"
      })
    };
  </script>
<% end %>