<div class='col-md-10 col-md-offset-1 yieldcontent'>
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron jumboart text-center">
        <h2 class="welcome">NEW TASK:</h2>
      </div>
      <div class="app-form-pad">
        <%= render 'tasks/partials/newtaskform' %>
      </div>
    </div>
  </div>
</div>
