html {
  background-color: #222222;
}

body {
  min-width: 680px !important;
  background-color: #E7E7E7 !important;
  background-image: url("noise.png") !important;
}

.row.maincontent {
  min-height: 600px !important;
  margin-bottom: 20px !important;
}